__pycache__/*
__pycache__/
*.png
*.jpg
^/*.py
# test_*
test_camlon16
test_wsi
test_wsi_bs16_end_half
test_wsi_bs16_end_whole
test_wsi_bs8_end_half
test_wsi_bs8_end_half_dataset2
tmp
tmp1
test_mask2json
.vscode
mask2json_normal_5
mask2json_test
mask2json_test_5
mask2json_training_normal
mask2json_training_tumor
mask2json_tumor_5
run.sh
records
run1.sh
tensor.pt
test.pkl
test.pt
test_cc
test_cc1
test_time
train/checkpoint
train_first_time
lmdb_files
checkpoint
create_lmdb_train
create_test_lmdb
no_trans_lmdb_workers_0
no_trans_lmdb_workers_0_no_imdecode
no_trans_lmdb_workers_4
no_trans_lmdb_workers_4_no_imdecode
no_trans_opencv_workers_0
no_trans_opencv_workers_4
profiling
profiling1
std_mean
train_vit_only
tmp_res
train_vit_base_patch_level
train_vit_small_patch_level
test_get_rank