__pycache__/*
__pycache__/
*.png
*.jpg
^/*.py
# test_*
test_camlon16
test_wsi
test_wsi_bs16_end_half
test_wsi_bs16_end_whole
test_wsi_bs8_end_half
test_wsi_bs8_end_half_dataset2
tmp
tmp1
test_mask2json
.vscode
mask2json_normal_5
mask2json_test
mask2json_test_5
mask2json_training_normal
mask2json_training_tumor
mask2json_tumor_5
run.sh
records
run1.sh
tensor.pt
test.pkl
test.pt
test_cc
test_cc1
test_time
train/checkpoint
train_first_time
lmdb_files
checkpoint
create_lmdb_train
create_test_lmdb
no_trans_lmdb_workers_0
no_trans_lmdb_workers_0_no_imdecode
no_trans_lmdb_workers_4
no_trans_lmdb_workers_4_no_imdecode
no_trans_opencv_workers_0
no_trans_opencv_workers_4
profiling
profiling1
std_mean
train_vit_only
tmp_res
train_vit_base_patch_level
train_vit_small_patch_level
test_get_rank
train_vit_b
train_vit_s_b
train_mynet_small_base_only_positive_patch
train_mynet_small_base_only_positive_patch1
train_only_postivie_labels_cls_token
train_only_postivie_labels_z
train_little_16bg_16can_all_patches
train_little_16bg_16can_only_patch
train_little_16bg_16can_only_patch1
train_little_16bg_16can_only_same_wsi_patch2
train_little_all_patches_512_len
train_little_all_patches_64_len
train_little_all_patches_64_len_freq_seq
train_little_all_patches_64_len_freq_seq_all
train_little_all_patches_64_len_freq_seq_all_sigmoid_attn_score
train_little_only_patches_512_len
result.json
results1.json
results2.json
results3.json
results_16_times_10.json
results_16_times_2.json
results_wsidataloader.json
results_wsidataloader1.json
results_wsidataloader11.json
results_wsidataloader111.json
results_wsidataloader11111.json
sss.txt
xxn_performance_log.txt
run_conda.sh
test_fowloer.sh
train_little.sh
train_mynet.sh
train_vit.sh
attn_score.pt
aaa
aaa1
conda_gzm
conda_memvit
conda_myenv
conda_test1
conda_torch1.13
conda_torchlts
env1
env2
log/
runs/
ss
test_mynet
test_mynet1
train_little
conda_py37
conda_pyszy
collect_env.py